<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
    meta tags
-->

    <title>Page not found | Groove</title>
    <meta name="title" content="Page not found | Groove" />
    <meta
      name="description"
      content="Groove is an online music player built to provide a seamless experience for users who love to discover, organize, and enjoy music."
    />

    <!--
    favicon 
-->
    <link rel="shortcut icon" href="/images/favicon.svg" type="image/svg+xml" />

    <!--
    google font link 
-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <!--
    custom css 
-->
    <link rel="stylesheet" href="/css/404.css" />
  </head>
  <body>
    <article class="error-page">

        <img src="/images/favicon.svg" width="48" height="48" alt="Groove logo" class="logo">

        <div>
            <h2 class="titile display-small">Page not found!</h2>

            <p class="text body-large">
                We can't seem to find the page you are looking for.
            </p>
        </div>

        <a href="/" class="btn">
            <span class="label-large">Back to home</span>

            <div class="state-layer"></div>
        </a>

    </article>
  </body>
</html>
